@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'arabic';
   src: url(../fonts/UthmanicHafs1Ver18.woff2);
}
@font-face {
   font-family: 'transliteration';
   src: url(../fonts/latin.ttf);
}
@font-face {
   font-family: 'translation';
   src: url(../fonts/arti.ttf);
}

#nprogress .bar {
   @apply bg-linkC dark:bg-darkU;
}

.active {
   @apply bg-transB dark:bg-darkB;
}
